<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="${basedir}/NLog/NLog.txt">

  <targets >
    <!--<target xsi:type="AsyncWrapper" name="AsyncLogFile" overflowAction="Grow" >-->
    <target name="logfile" xsi:type="File" fileName="${basedir}/NLog/${shortdate}.log"  createDirs="true" >
      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Comma-separated list (string)">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name='StackTrace' encode='false'  >
          <layout xsi:type='JsonLayout'>
            <attribute name='message' layout='${message}' />
            <attribute name='exception' layout='${exception:format=toString}' />
          </layout>
        </attribute>
      </layout>
    </target>
    <!--</target>-->
    <!--<target name="logconsole" xsi:type="Console" /> ${exception:format=ToString}-->
  </targets>

  <rules xsi:type ='NLogRules' >
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>